:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-font-color: #222831;

  --secondary-font: 'Poppins', sans-serif;
  --secondary-font-color: #393e46;

  --primary-background-color: #EEEEEE;
  --secondary-background-color: #e3e3e3;
}

body {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
}

.page-header {
  display: inherit;
  flex-direction: inherit;
  font-family: var(--primary-font);
  text-align: center;
  width: 100%;
}

.page-body {
  display: inherit;
  flex-direction: inherit;
  height: 100%;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.delete-table {
  cursor: pointer;
  margin-left: 5px;
  opacity: 0;
}

.add-row, .delete-row {
  cursor: pointer;
  margin-left: 5px;
  opacity: 0;
  right: 0;
}

.task-list {
  width: 500px;
  margin: 50px;
}

input[type='checkbox'] {
  cursor: pointer;
}

#task-list-adder {
  background-color: transparent;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 1.2em;
}

#task-list-container {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  border: 2px black solid;
  border-spacing: 0px;
  font-family: var(--secondary-font);
  text-align: center;
  width: 100%;
}

thead {
  background-color: var(--primary-background-color);
  border: 2px black solid;
  font-family: var(--primary-font);
}

thead th:first-child {
  padding: 15px;
  padding-left: 40px;
  color: var(--primary-font-color);
  border-bottom: 2px solid black;
}

thead th:nth-child(2) {
  border-bottom: 2px solid black;
}

tr:hover .add-row, tr:hover .delete-row, thead:hover .delete-table {
  opacity: 1;
  transition: 0.2s;
}

tr:nth-child(even) {
  background-color: var(--secondary-background-color);
}

table td:first-child {
  text-align: left;
  width: 25px;
}
table td:nth-child(2) {
  text-align: left;
}
table td:nth-child(3), table td:nth-child(4) {
  text-align: right;
  width: 25px;
}

[contenteditable] {
  outline: 0px solid transparent;
}
